@model EmployeeLeaveRequestViewVM

@{
    ViewData["Title"] = "MyLeave";
}

<h1>My Leave Allocations</h1>


    @if (Model.LeaveAllocations.Count == 0)
    {
        <h4>You dont have any allocations</h4>
    }


    @if (Model.LeaveAllocations.Count > 0)
    {
<div class="row">
    @foreach (var item in Model.LeaveAllocations)
    {
        @*<li class="list-group-item">
                <h6>@item.LeaveType.Name <span class="badge badge-secondary">@item.NumberOfDays</span></h6>
            </li>*@

        <div class="col-md-3">
            <div class="info-box">
                <span class="info-box-icon bg-success"><i class="fas fa-calendar-alt"></i></span>

                <div class="info-box-content">
                    <h5 class="info-box-text">@item.LeaveType.Name days</h5>
                    <h5 class="info-box-number">@item.NumberOfDays</h5>

                </div>
                <!-- /.info-box-content -->
            </div>

        </div>
    }

</div>

       

    }



<hr />
<h1>My Leave Records</h1>
<table id="tblData" class="table">
    <thead>
        <tr>
            <th>
                Leave Type
            </th>
            <th>
                Start Date
            </th>
            <th>
                End Date
            </th>
            <th>
                Date Requested
            </th>

            <th>
                Approval State
            </th>

            <th>
                Cancel Request
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.LeaveRequests)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LeaveType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.DateRequested, new { @value = item.DateRequested.ToString("yyyy-mm-dd") })
                </td>

                <td>
                    @if (item.Cancelled)
                    {
                        <span class="badge badge-pill badge-secondary" style="font-size:100%">Cancelled</span>
                    }
                    else if (item.Approved == true)
                    {
                        <span class="badge badge-pill badge-success" style="font-size:100%">Approved</span>
                    }
                    else if (item.Approved == false)
                    {
                        <span class="badge badge-pill badge-danger" style="font-size:100%">Rejected</span>
                    }
                    else
                    {
                        <span class="badge badge-pill badge-warning" style="font-size:100%">Pending Approval</span>
                    }
                </td>

                <td>
                    @if ((!item.Cancelled && item.StartDate > DateTime.Now))
                    {
                        <a asp-action="CancelRequest" class="btn btn-danger" asp-route-id="@item.Id" onclick="return confirm('Are you sure you want to cancel this request?')">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>